{% extends 'layout.html' %}

{% block body %}
  <!-- / nav -->
  <section id="content">
    <section class="main padder">
      <div class="clearfix">
            <h4><i class="icon-table"></i>{{task_info['name']}}-禁用URL列表</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <!-- .breadcrumb -->
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i>首页</a></li>
              <li><a href="/project/list"><i class="icon-list-ul"></i>项目</a></li>
              <li><a href="/site/list?pid={{ task_info['pid'] }}"><i class="icon-list-ul"></i>站点</a></li>
              <li><a href="/task/list?pid={{ task_info['tid'] }}"><i class="icon-list-ul"></i>任务</a></li>
              <li class="active">URL</li>
            </ul>
            <!-- / .breadcrumb -->
        </div>
        <div class="col-lg-12">
            <section class="panel">

                <div class="row text-small">
                    <div class="col-lg-6 m-b-mini">
                        <select class="input-small inline" id="urls-oparate">
                            <option value="default">批量操作</option>
                            <option value="enable">启用</option>
                            <option value="delete">删除</option>
                        </select>
                        <a href="/urls/list?tid={{ task_info['uuid'] }}"><i class="icon-minus-sign"></i>URL列表</a>
                        <input type="hidden" name="tid" id="taskid" value="{{ task_info['uuid'] }}">
                    </div>
                </div>
                <div class="pull-out m-t-small">
                    <table class="table table-striped b-t text-small">
                        <thead>
                            <tr>
                                <th><input type="checkbox"></th>
                                <th class="th-sortable" data-toggle="class">URL id
                                    <span class="th-sort">
                                        <i class="icon-sort-down text"></i>
                                        <i class="icon-sort-up text-active"></i>
                                        <i class="icon-sort"></i>
                                    </span>
                                </th>
                                <th>标题</th>
                                <th>状态</th>
                                <th>更新频次</th>
                                <th>基础URL</th>
                                <th>创建时间</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for item in urls_list %}
                            <tr>
                                <td ><input type="checkbox" name="id" class="checkbox" value="{{ item['uuid'] }}"></td>
                                <td >{{ item['uuid'] }}</td>
                                <td >{{ item['title'] }}</td>
                                <td>
                                    {{ app_config.get('status', {}).get(str(item['status']), "初始化") }}
                                </td>
                                <td>
                                    {{ app_config.get('frequencymap', {}).get(str(item['rate']), [7200, "每2小时一次"])[1] }}
                                </td>
                                <td style="max-width:400px;word-wrap:break-word;word-break:break-all;">
                                    {{ item['url'] }}
                                </td>
                                <td>{{ item['ctime']|time_func }}</td>
                                <td >
                                    <input class="btn btn-default btn-small" name="urls-enable" type="button"
                                           data-uid="{{  item['uuid'] }}" value="启用"/>
                                    <input class="btn btn-default btn-small" name="urls-delete" type="button"
                                           data-uid="{{  item['uuid'] }}" value="删除"/>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer dataTables_wrapper">
                    {% include 'paging.html' %}
                </footer>
            </section>
        </div>
      </div>
    </section>
  </section>


{% endblock %}
        <!-- / footer -->
{% block custom_footer %}
<script src="{{ url_for('static', filename='js/datatables/jquery.dataTables.min.js') }}"></script>
<script>
$(function(){
    $("[name=urls-enable]").click(function(){
        $.ajax({
            type: 'get',
            url: '/urls/'+ $(this).data('uid') +'/enable',
            dataType: 'json',
            success: function(result){
                if (result.status == 200) {
                    location.reload();
                } else {
                    alert(result.message)
                }
            },
        });
    })
    $("[name=urls-delete]").click(function(){
        if (confirm("删除URL将会删除所有相关任务,是否确认删除?")) {
            $.ajax({
                type: 'get',
                url: '/urls/'+ $(this).data('uid') +'/delete',
                dataType: 'json',
                success: function(result){
                    if (result.status == 200) {
                        location.reload();
                    } else {
                        alert(result.message)
                    }
                },
            });
        }
    })
    $("#urls-oparate").change(function(){
        var val = $(this).val()
        var tid = $("#taskid").val()
        var data = $(":checked[name=id]").map(function(){
            return $(this).val()
        }).get().join(',')
        switch (val){
            case 'enable':
                $.ajax({
                    type: 'post',
                    url: '/urls/enable',
                    dataType: 'json',
                    data: {"id": data, "tid": tid},
                    success: function(result){
                        if (result.status == 400) {
                                $("#urls-oparate").val('default')
                        } else if (result.status == 200) {
                            location.reload();
                        } else {
                            alert(result.message)
                            $("#urls-oparate").val('default')
                        }
                    },
                });
                return true
            case 'delete':
                if (confirm("删除URL将会删除选中URL对应的所有相关任务,是否确认删除?")) {
                    $.ajax({
                        type: 'post',
                        url: '/urls/delete',
                        dataType: 'json',
                        data: {"id": data, "tid": tid},
                        success: function(result){
                            if (result.status == 400) {
                                $("#urls-oparate").val('default')
                            } else if (result.status == 200) {
                                location.reload();
                            } else {
                                alert(result.message)
                                $("#urls-oparate").val('default')
                            }
                        },
                    });
                }
                return true
            default:
                return true;
        }
    })
})
</script>
{% endblock %}
