{% extends 'layout.html' %}
{% block body %}
{% set settings = urls_info %}
  <!-- / nav -->
  <section id="content">
    <section class="main padder">
      <div class="clearfix">
        <h4><i class="icon-edit"></i>{{task_info['name']}}-编辑URL</h4>
      </div>
      <div class="row">
        <div class="col-lg-12">
            <!-- .breadcrumb -->
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i>首页</a></li>
              <li><a href="/project/list"><i class="icon-list-ul"></i>项目</a></li>
              <li><a href="/site/list?pid={{ task_info['pid'] }}"><i class="icon-list-ul"></i>站点</a></li>
              <li><a href="/task/list?sid={{ task_info['sid'] }}"><i class="icon-list-ul"></i>任务</a></li>
              <li><a href="/urls/list?tid={{ task_info['uuid'] }}"><i class="icon-list-ul"></i>URL</a></li>
              <li class="active">编辑URL--{{ urls_info['title'] }}</li>
            </ul>
            <!-- / .breadcrumb -->
        </div>
        <div class="col-lg-12">
          <section class="panel">
            <form action="/urls/{{ urls_info['uuid'] }}/edit" class="form-horizontal" method="post"
                  data-parsley-validate>
              <div class="col-lg-12">
                <h5>基本设置</h5>
              </div>
            <div class="form-group">
                <label class="col-lg-2 control-label">标题</label>
                <div class="col-lg-9">
                    <input type="text" name="title" placeholder="" class="form-control" data-parsley-trigger="change"
                           data-parsley-required="true" data-parsley-length='[2, 32]' value="{{ urls_info['title'] }}" >

                </div>
            </div>

             <div class="form-group">
                <label class="col-lg-2 control-label">频率:</label>
                <div class="col-lg-9">
                  <select name="frequency" class="form-control" data-parsley-required="true">
                      {% for k,v in app_config.get('frequencymap_sorted') %}
                        <option value={{ k }} {% if k == urls_info['frequency']  %}selected{% endif %}>{{ v[1]
                      }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

             <div class="form-group">
                <label class="col-lg-2 control-label">时效:</label>
                <div class="col-lg-9">
                  <select name="expire" class="form-control" data-parsley-required="true">
                      {% for k,v in app_config.get('expiremap_sorted') %}
                        <option value={{ k }} {% if k == urls_info['expire']  %}selected{% endif %}>{{ v[1]
                      }}</option>
                      {% endfor %}
                  </select>
                </div>
              </div>

                <div class="form-group">
                    <label class="col-lg-2 control-label">Url</label>
                    <div class="col-lg-9">
                        <input type="text" name="url" value="{{ urls_info['url'] }}" class="form-control"
                               data-parsley-required="true" data-parsley-type="url">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">列表规则</label>
                    <div class="col-lg-9">
                        <select name="ruleId" class="form-control" data-parsley-required="true">
                            <option value="0">请选择</option>
                            {% for item in rule_list %}
                            <option value="{{ item['uuid'] }}" {% if item['uuid'] == urls_info['ruleId']
                            %}selected?{% endif %} >{{ item['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
              <div class="form-group">
                <div class="col-lg-12 col-offset-3">
                  <button type="reset" class="btn btn-white" name="reset">取消</button>
                  <button type="submit" class="btn btn-primary" name="submit">确定</button>
                </div>
              </div>
            </form>
          </section>
        </div>
      </div>
    </section>
  </section>

{% endblock %}

{% block custom_footer %}
<script src="{{ url_for('static', filename='js/parsley/parsley.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/parsley/zh_cn.js') }}"></script>
<script src="{{ url_for('static', filename='js/parsley/zh_cn.extra.js') }}"></script>
<script>
$(function(){
    $("[name=reset]").click(function(){
        $(this).parent("form").reset()
    })
    $("[name=submit]").click(function(){
        $(this).parent("form").submit()
    })
})
</script>
{% endblock %}
