<div class="form-group">
    <label class="col-lg-2 control-label">自定义字段</label>
    <div class="col-lg-9 input-group">
        <textarea
                placeholder="自定义字段,多个字段，通过回车分割,字段名（字段名必须为英文字母组成，重复无效，不能为：url、title、content、author、pubtime）与字段描述之间使用“|”间隔，比如: name|姓名{{ '\r\n' }}nick|昵称"
                class="form-control" data-parsley-multiple-of data-parsley-trigger="focusout"></textarea>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" data-ride="add-parse-rule"
                    data-column="item-parse-other"
                    data-target='#item-parser-columns'>增加</button>
        </span>
    </div>
</div>

<div id="item-parser-columns">
    {% if rule.get('parse', {}).get('other') %}
    {% for k,v in rule.get('parse', {}).get('other').items() %}
    <div class="form-group" id="item-parse-other-column-{{ k }}">
        <input type="hidden" name="item-parse-other-name-{{ k }}" value="{{ v['name'] }}" />
        <label class="col-lg-2 control-label">{{ v['name'] }}识别规则</label>
        <div class="col-lg-9 input-group dropdown combobox m-b">
            <div class="input-group-btn">
                <button type="button" class="btn btn-small btn-white dropdown-toggle" data-toggle="dropdown"><i class="caret"></i></button>
                <ul class="dropdown-menu pull-right">
                    <li data-value="@value:"><a href="#">固定值</a></li>
                    <li data-value="@xpath:"><a href="#">XPATH选择器</a></li>
                    <li data-value="@css:"><a href="#">CSS选择器</a></li>
                    <li data-value="@url:"><a href="#">匹配URL</a></li>
                    <li data-value="@reg:"><a href="#">正则表达式</a></li>
                    <li data-value="@json:"><a href="#">JSON表达式</a></li>
                </ul>
            </div>
            <input type="text" name="item-parse-other-{{ k }}" placeholder="" class="input-small form-control" value="{{ v['filter'] }}" />

            <span class="input-group-btn"><a href="#item-parse-other-column-{{ k }}" data-dismiss="alert" class="btn btn-white btn-mini"><i class="icon-trash text-muted"></i>删除</a></span>
        </div>
        <label class="col-lg-2 control-label">{{ v['name'] }}提取规则</label>
        <div class="col-lg-9 input-group">
            <input type="text" name="item-parse-other-{{ k }}-extract" placeholder=""
                   class="input-small form-control" value="{{ v['extract'] }}" />
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
