<div class="col-lg-12">
    <h5>解析规则</h5>
</div>
<div class="form-group">
    <label class="col-lg-2 control-label">列表区域识别规则</label>
    <div class="col-lg-9 input-group dropdown combobox m-b">
        <div class="input-group-btn">
            <button type="button" class="btn btn-small btn-white dropdown-toggle"
                    data-toggle="dropdown"><i class="caret"></i></button>
            <ul class="dropdown-menu pull-right">
                <li data-value="@xpath:"><a href="#">XPATH选择器</a></li>
                <li data-value="@css:"><a href="#">CSS选择器</a></li>
                <li data-value="@reg:"><a href="#">正则表达式</a></li>
                <li data-value="@json:"><a href="#">JSON表达式</a></li>
            </ul>
        </div>
        <input type="text" name="list-parse-filter" placeholder=""
               class="input-small form-control"
               value="{{ rule.get("parse", {}).get('filter', '') }}"/>
    </div>
</div>
