<div id="myModal" class="modal animated fade" tabindex="-1" role="dialog" aria-hidden="true" />
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
                <i class='fa fa-spinner fa-spin' id="load"></i>
            </div>
            <div class="modal-footer">
                <input type="hidden" name="close" data-dismiss="modal" id="modal-close"/>
            </div>
        </div>
    </div>
</div>
