{% extends 'layout.html' %}
{% block body %}
  <!-- / nav -->
<section id="content">
    <section class="main padder">
        <div class="clearfix">
            <h4><i class="icon-table"></i>{{task_info['name']}}-规则列表</h4>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- .breadcrumb -->
                <ul class="breadcrumb">
                  <li><a href="/"><i class="icon-home"></i>首页</a></li>
                  <li><a href="/project/list"><i class="icon-list-ul"></i>项目</a></li>
                  <li><a href="/site/list?pid={{ task_info['pid'] }}"><i class="icon-list-ul"></i>站点</a></li>
                  <li><a href="/task/list?sid={{ task_info['sid'] }}"><i class="icon-list-ul"></i>任务</a></li>
                  <li class="active">规则</li>
                </ul>
                <!-- / .breadcrumb -->
            </div>
            <div class="col-lg-12">
                <section class="panel">

                    <div class="row text-small">
                        <div class="col-lg-6 m-b-mini">
                            <select class="input-small inline" id="rule-oparate">
                                <option value="default">批量操作</option>
                                <option value="active">激活</option>
                                <option value="disable">禁用</option>
                                <option value="delete">删除</option>
                            </select>
                            <a href="/rule/dis?tid={{ tid }}"><i class="icon-minus-sign"></i>已禁用规则</a>
                        </div>
                        <div class="col-lg-6 m-b-mini text-right">
                            <button class="btn btn-default btn-small" id="create-rule">创建新规则</button>
                            <input type="hidden" name="tid" id="taskid" value="{{ tid }}" />
                        </div>
                    </div>
                    <div class="pull-out m-t-small">
                        <table class="table table-striped b-t text-small">
                            <thead>
                                <tr>
                                    <th><input type="checkbox"></th>
                                    <th class="th-sortable" data-toggle="class">规则 id
                                        <span class="th-sort">
                                            <i class="icon-sort-down text"></i>
                                            <i class="icon-sort-up text-active"></i>
                                            <i class="icon-sort"></i>
                                        </span>
                                    </th>
                                    <th>名称</th>
                                    <th>状态</th>
                                    <th>媒体类型</th>
                                    <th>更新频次</th>
                                    <th>创建时间</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in rule_list %}
                                <tr>
                                    <td ><input type="checkbox" name="id" class="checkbox" value="{{ item['rid'] }}"></td>
                                    <td >{{ item['uuid'] }}</td>
                                    <td style="max-width:100px;word-wrap:break-word;word-break:break-all;">{{
                                        item['name'] }}</td>
                                    <td>
                                        {{ app_config.get('status', {}).get(str(item['status']), "初始化") }}
                                    </td>
                                    <td>
                                        {{ app_config.get('media_type', {}).get(str(item['mediaType']), "其他") }}
                                    </td>
                                    <td>
                                        {{ app_config.get('frequencymap', {}).get(str(item['frequency']), [7200, "每2小时一次"])[1] }}
                                    </td>
                                    <td>{{ item['ctime']|time_func }}</td>
                                    <td >
                                        <input class="btn btn-default btn-small" name="rule-edit" type="button"
                                               data-rid="{{ item['uuid'] }}" value="编辑"/>
                                        <input class="btn btn-default btn-small" name="rule-active" type="button"
                                               data-rid="{{ item['uuid'] }}" value="激活" {% if
                                               app_config.get('status', {}).get(str(item['status']), "初始化") == "激活" %}disabled{% endif %}/>
                                        <select class="input-small inline" name="rule-oparate"
                                                data-rid="{{ item['uuid'] }}">
                                            <option value="default">更多操作</option>
                                            <option value="disable">禁用</option>
                                            <option value="delete">删除</option>
                                        </select>
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <footer class="panel-footer dataTables_wrapper">
                        {% include 'paging.html' %}
                    </footer>
                </section>
            </div>
        </div>
    </section>
</section>
{% endblock %}

{% block custom_footer %}
<script src="{{ url_for('static', filename='js/datatables/jquery.dataTables.min.js') }}"></script>
<script type="text/javascript">
$(function(){
    $("#create-rule").click(function() {
        window.location.href = '/rule/add?tid={{ tid }}'
    })
    $("[name=rule-edit]").click(function() {
        window.location.href = '/rule/' + $(this).data('rid') + '/edit'
    })
    $("[name=rule-active]").click(function() {
        $.ajax({
            type: 'get',
            url: '/rule/'+ $(this).data('rid') +'/active',
            dataType: 'json',
            success: function(result){
                if (result.status == 200) {
                    location.reload();
                } else {
                    alert(result.message)
                }
            },
        });
    })
    $("[name=rule-oparate]").change(function(){
        var val = $(this).val()
        switch (val){
            case 'disable':
                if (confirm("禁用规则将会禁用所有相关任务,是否确认禁用?")) {
                    $.ajax({
                        type: 'get',
                        url: '/rule/'+ $(this).data('rid') +'/disable',
                        dataType: 'json',
                        success: function(result){
                            if (result.status == 200) {
                                location.reload();
                            } else {
                                alert(result.message)
                            }
                        },
                    });
                }
                return true
            case 'delete':
                if (confirm("删除规则将会删除所有相关任务,是否确认删除?")) {
                    $.ajax({
                        type: 'get',
                        url: '/rule/'+ $(this).data('rid') +'/delete',
                        dataType: 'json',
                        success: function(result){
                            if (result.status == 200) {
                                location.reload();
                            } else {
                                alert(result.message)
                            }
                        },
                    });
                }
                return true
            default:
                return true;
        }
    })
    $("#rule-oparate").change(function(){
        var val = $(this).val()
        var tid = $("#taskid").val()
        var data = $(":checked[name=id]").map(function(){
            return $(this).val()
        }).get().join(',')
        switch (val){
            case 'active':
                $.ajax({
                    type: 'post',
                    url: '/rule/active',
                    dataType: 'json',
                    data: {"id": data, "tid": tid},
                    success: function(result){
                        if (result.status == 400) {
                                $("#rule-oparate").val('default')
                        } else if (result.status == 200) {
                            location.reload();
                        } else {
                            alert(result.message)
                            $("#rule-oparate").val('default')
                        }
                    },
                });
                return true
            case 'disable':
                if (confirm("禁用规则将会禁用选中规则对应的所有相关任务,是否确认禁用?")) {
                    $.ajax({
                        type: 'post',
                        url: '/rule/disable',
                        dataType: 'json',
                        data: {"id": data, "tid": tid},
                        success: function(result){
                            if (result.status == 400) {
                                $("#rule-oparate").val('default')
                            } else if (result.status == 200) {
                                location.reload();
                            } else {
                                alert(result.message)
                                $("#rule-oparate").val('default')
                            }
                        },
                    });
                }
                return true
            case 'delete':
                if (confirm("删除规则将会删除选中规则对应的所有相关任务,是否确认删除?")) {
                    $.ajax({
                        type: 'post',
                        url: '/rule/delete',
                        dataType: 'json',
                        data: {"id": data, "tid": tid},
                        success: function(result){
                            if (result.status == 400) {
                                $("#rule-oparate").val('default')
                            } else if (result.status == 200) {
                                location.reload();
                            } else {
                                alert(result.message)
                                $("#rule-oparate").val('default')
                            }
                        },
                    });
                }
                return true
            default:
                return true;
        }
    })
})
</script>
{% endblock %}
